header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .app-title {
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }
}